//  ---------------------------------------------------------------------------
//
//  Defines the styling for branding
//
//  ---------------------------------------------------------------------------
	
	.a11y { display:none; }

	.logo
	{
		display:block;
		@include rem(margin, 0 auto $doubleSpace);
		@include rem(padding, $singleSpace);
		@include rem(width, $doubleSpace * 5);
	}

	.branding
	{ 
		letter-spacing: -.2rem;
		text-align:center;

		// @include at-breakpoint(48em no-mq)
		// {
		// 	position:relative;
		// 	padding: 20% 0 24%;
		// 	border-bottom:0 solid $olive;
		// 	@include rem(border-bottom-width, $singleSpace);
		// 	// background:url(../images/branding--about.jpg) top center no-repeat transparent;
		// 	// background-size:100%;
		// 	overflow:hidden;
		// }

		// @include at-breakpoint($huge-width)
		// {
		// 	padding:18% 0;
		// 	background-position:center;
		// }
	}

	.touch,
	.no-touch
	{ 
		.branding
		{
			a, 
			a:hover, 
			a:active
			{
				border:0 none; 
			}
		}
	}

	.branding__bg
	{
		@include at-breakpoint(48em no-mq)
		{
			position:absolute;
			top:0;
			right:-100px;
			bottom:0;
			left:0;
			background:url(../images/branding--about.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	.page-template-timetable-php .branding__bg
	{
		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/branding--timetable.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	.page-template-packages-php .branding__bg
	{
		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/branding--packages.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	.page-template-regulations-php .branding__bg
	{
		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/branding--regulations.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	.page-template-contact-php .branding__bg
	{
		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/branding--contact.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	// .page-template-default .branding__bg
	// {
	// 	@include at-breakpoint($bodyLarge)
	// 	{
	// 		@include setType($bodyFontSize--large, $bodyLineHeight--large);
			
	// 		&:before
	// 		{
	// 			background-image:none;
	// 		}
	// 	}
	// }

	.branding__wrapper
	{
		@include rem(padding, $doubleSpace 0);
		@include transition(padding 1s ease-in-out);
		text-align:center;
	}

	.branding__logo
	{
		display:inline-block;
		@include rem(width, 28);
		@include rem(height, 11.7);
		margin-left:0;
		background:url(../images/gpd-logo--text.svg) top left no-repeat transparent;
		background-size:100%;

		@include transition(transform 0 ease-out, opacity 0 linear);

		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/gpd-logo-mountains-white.svg) top left no-repeat transparent;
			background-size:100%;
		}
	}

	#ie8 .branding__logo
	{
		background:url(../images/gpd-logo--ie.png) top left no-repeat transparent;
	}

	.down-arrow
	{
		display:block;
		position:relative;
		z-index:1;
		@include rem(margin, $doubleSpace auto 0);
		@include rem(width, 7);
		@include rem(height, 7);
		background:url(../images/gpd-down-arrow.svg) top left no-repeat transparent;
		background-size:100%;
		text-indent:-999em;
		overflow:hidden;

		@include transition(transform 0 ease-out, opacity 0 linear);
	}

	