//  ---------------------------------------------------------------------------
//
//  Defines the styling for branding
//
//  ---------------------------------------------------------------------------
	
	.a11y { display:none; }

	.logo
	{
		display:block;
		@include rem(margin, $singleSpace auto);
		@include rem(width, $doubleSpace * 5);
		@include rem(height, 9.6);
		background:url(../images/gpd-logo.svg) top center no-repeat transparent;
		background-size:100%;

		@include at-breakpoint($huge-width)
		{
			float:left;
			@include rem(margin, $doubleSpace);
			@include rem(width, 18);
			@include rem(height, 4);
			background:url(../images/gpd-logo--wide.svg) top center no-repeat transparent;
			background-size:100%;
		}
	}

	.branding
	{ 
		@include rem(padding, $doubleSpace 0);
		line-height: 1;
		text-align:center;
		text-transform: uppercase;
		@include rem(letter-spacing, -.2);

		@include at-breakpoint($huge-width)
		{
			position:relative;
			padding:0;
			@include rem(height, 55);
			background:url(../images/gpd-logo--wide.svg) top center no-repeat transparent;
			background-size:100%;
		}
	}

	.touch,
	.no-touch
	{ 
		.branding
		{
			a, 
			a:hover, 
			a:active
			{
				border:0 none; 
			}
		}
	}

	.branding__bg
	{
		@include at-breakpoint($huge-width)
		{
			position:absolute;
			top:0;
			right:-100px;
			bottom:0;
			left:0;
			background:url(../images/branding--about.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	.branding__wrapper
	{
		@include at-breakpoint($huge-width)
		{
			position:absolute;
			top:40%;
			width:100%;
			text-align:center;
		}
	}

	.branding__tagline-container
	{
		@include at-breakpoint($huge-width)
		{
			position:relative;
			display:inline-block;

			&:before
			{
				content:" ";
				position:absolute;
				@include rem(top, -15);
				@include rem(right, -15);
				@include rem(bottom, -15);
				@include rem(left, -15);
				@include background(radial-gradient(rgba(255,255,255,.8), rgba(255,255,255, 0) 70%));
			}

			> div
			{
				position:relative;
			}
		}
	}

	.branding__subtagline
	{
		@include rem(padding-left, 1.4);
		@include rem(font-size, 2.1);
		line-height: 1;
		@include rem(letter-spacing, .9);
	}

	.page-template-timetable-php .branding__bg
	{
		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/branding--timetable.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	.page-template-packages-php .branding__bg
	{
		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/branding--packages.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	.page-template-regulations-php .branding__bg
	{
		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/branding--regulations.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	.page-template-contact-php .branding__bg
	{
		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/branding--contact.jpg) top center no-repeat transparent;
			background-size:105%;
			background-position:center;
		}
	}

	// .page-template-default .branding__bg
	// {
	// 	@include at-breakpoint($bodyLarge)
	// 	{
	// 		@include setType($bodyFontSize--large, $bodyLineHeight--large);
			
	// 		&:before
	// 		{
	// 			background-image:none;
	// 		}
	// 	}
	// }

	.branding__logo
	{
		display:inline-block;
		@include rem(width, 28);
		@include rem(height, 11.7);
		margin-left:0;
		background:url(../images/gpd-logo--text.svg) top left no-repeat transparent;
		background-size:100%;

		@include transition(transform 0 ease-out, opacity 0 linear);

		@include at-breakpoint(48em no-mq)
		{
			background:url(../images/gpd-logo-mountains-white.svg) top left no-repeat transparent;
			background-size:100%;
		}
	}

	#ie8 .branding__logo
	{
		background:url(../images/gpd-logo--ie.png) top left no-repeat transparent;
	}

	.down-arrow
	{
		display:block;
		position:relative;
		z-index:1;
		@include rem(margin, $doubleSpace auto 0);
		@include rem(width, 7);
		@include rem(height, 7);
		background:url(../images/gpd-down-arrow.svg) top left no-repeat transparent;
		background-size:100%;
		text-indent:-999em;
		overflow:hidden;

		@include transition(transform 0 ease-out, opacity 0 linear);
	}

	