//  ---------------------------------------------------------------------------
//
//  Event Espresso form styles
//
//  ---------------------------------------------------------------------------
	
	.grid
	{
		label.error 
		{
			color:$red;
		}

		#event_espresso_registration_form
		{
			margin:0;
			padding:0;
			font-family:$serifFontFamily;
			@include setType($bodyFontSize, $bodyLineHeight);
		}

		.form-wrapper,
		#event-reg-form-groups
		{
			margin:0 auto;
			@include rem(max-width, 60);
		}

		.form-section
		{
			@include rem(margin, 0 0 $doubleSpace * 2);
			@include rem(padding, 0 0 $doubleSpace * 2);
			border-bottom:0 solid $sandDark;
			@include rem(border-bottom-width, $borderMedium);
		}

		.reg-quest-title
		{
			@include rem(margin, $doubleSpace * 3 0 $doubleSpace);
			@include setType($h3Size, $h3LineHeight);
			font-weight:normal;

			&:first-child
			{
				margin-top:0;
			}
		}

		.event_form_field
		{
			margin:0;
			
			.ee-reg-page-text-input
			{
				display:inline-block;
				width:100%;
				@include rem(min-height, $touchSize);
				@include rem(margin-bottom, $doubleSpace);
				@include rem(padding, $singleSpace / 2 $singleSpace);
				background-color: $inputBackgroundColor;
				border: 1px solid $inputBorderColor;
				border-radius:$inputBorderRadius;
				border-top-color:darken($inputBorderColor, 10%);
				color:$textColor;
				-webkit-appearence:none;
				@include transition(border linear .2s 0, box-shadow linear .2s 0, margin linear .2s 0);

				&:hover
				{
					border-color:darken($inputBorderColor, 12%);
					border-top-color:darken($inputBorderColor, 22%);
					@include box-shadow(inset 0 1px 1px rgba(0,0,0,.1));
				}

				&:active,
				&:focus 
				{			
					border-color:lighten($inputFocusBorderColor, 5%);
					border-top-color:$inputFocusBorderColor;
					@include box-shadow(inset 0 1px 2px rgba(0,0,0,.2));
					//remove outline border in IE LTE9
					outline:none;
					ie-dummy:expression(this.hideFocus=true);
				}

				&.error 
				{
					@include rem(margin-bottom, $singleSpace);
				}
			}

			select
			{
				width:100%;
				@include rem(height, $touchSize);
				@include rem(line-height, $touchSize);
			}
		}

		.ee-reg-page-questions
		{
			display:block;
			width:100%;
			@include rem(min-height, $bodyLineHeight);
			padding:0;
			@include rem(margin-bottom, $singleSpace / 2);
			text-align:left;
			@include setType($bodyFontSize, $bodyLineHeight);
		}

		.event_form_submit
		{
			margin:0 auto;
			padding:0;
			@include rem(max-width, 60);
		}

		.event_form_field label.error
		{
			@include rem(margin, 0 0 $doubleSpace);
			padding:0;
			@include setType($bodyFontSize - .2, $bodyLineHeight);
		}

	}

	.page form 
	{
		@include rem(padding, $doubleSpace $doubleSpace 0);
		background:$white;
		border:0 solid $sandDark;
		@include rem(border-width, $borderThin);
		// box-shadow:0 2px 3px rgba(0,0,0,.25);
	}

	.media__img--payment
	{
		display:block;
		@include rem(margin-top, 1);
	}

	// Language containers
	.de, .en, .it, .fr
	{
		display:none;
	}

	[lang="de-DE"] .de,
	[lang="en-US"] .en,
	[lang="en-GB"] .en,
	[lang="it-IT"] .it,
	[lang="fr-FR"] .fr
	{
		display:block;
	}


//  ---------------------------------------------------------------------------
//
//  TICKET SELECTOR
//
//  ---------------------------------------------------------------------------



	// Make form wrapper full width
	// for ticket selector page
	.page-template-ticket-selector-php .grid .form-wrapper
	{
		max-width:none;
	}

	// Ticket Selector table
	.tkt-slctr-tbl
	{
		width: 100%;
		border-bottom:1px solid $sandDark;

		thead
		{
			display:none;
		}
	}

	// Show ticket description
	.tckt-slctr-tkt-details-dv
	{
		display:block!important;
	}

	// Hide unneccessary elements
	// and pending/expired tickets
	.ticket-pending,
	.ticket-sales-expired,
	.display-tckt-slctr-tkt-details,
	.tkt-slctr-tbl-wrap-dv > .lt-grey-text,
	.tckt-slctr-tkt-details-sctn > h3,
	.tckt-slctr-tkt-details-sctn > section,
	.tckt-slctr-tkt-details-sctn > br,
	.tckt-slctr-tkt-details-sctn > p,
	.tckt-slctr-tkt-details-sctn > div,
	.tckt-slctr-tbl-td-price .smaller-text,
	.tckt-slctr-tbl-td-price .currency-code
	{
		display:none;
	}

	.ticket-pending + .tckt-slctr-tkt-details-tr,
	.ticket-sales-expired + .tckt-slctr-tkt-details-tr
	{
		display:none;
	}

	// Style ticket table row
	.tckt-slctr-tbl-tr
	{
		border-top:1px solid $sandDark;
		td { @include rem(padding-top, $doubleSpace); vertical-align:top; }

		&:first-child
		{
			border-top:0 none;
			td { padding-top:0; }
		}
	}


	// Style ticket description
	.tckt-slctr-tkt-details-sctn > div
	{
		@include rem(margin-bottom, $doubleSpace);
		font-size:85%;
		line-height:1.4;
		color:$gray;

		@include at-breakpoint($large-width)
		{
			width:60%;
		}

		@include at-breakpoint($huge-width)
		{
			width:45%;
		}
	}

 	.ticket-selector-submit-btn
 	{
 		@extend .btn;
 		@extend .btn--primary;
 		@extend .btn--right-aligned;
 		float:right;
 		margin-bottom:0;
 	}



//  ---------------------------------------------------------------------------
//
//  REGISTRATION FORM
//
//  ---------------------------------------------------------------------------



	// Hide unneccessary stuff
	.spco-steps-big-hdr,
	.spco-steps-pg,
	.big-event-title-hdr,
	.spco-ticket-info-dv,
	#spco-auto-copy-attendee-pg
	{
		display:none;
	}

	#spco-registration-attendee_information-frm
	{
		padding:0;
	}

	// Specificity wars
	.grid
	{
		.form-wrapper // needed for specificty override
		{
			// Required form field asterisk
			.espresso-form-input-lbl em
			{
				color:$red !important;
			}

			// Wizard
			#spco-steps-display-dv
			{
				@include rem(margin-bottom, $doubleSpace * 2);
				border-top:1px solid $sandDark;
				border-bottom:1px solid $sandDark;

				// Step number
				.spco-step-big-nmbr
				{
					font-family:$sansFontFamily;
					@include rem(font-size, 4.2);
				}

				// Active step number color
				.active-step .spco-step-big-nmbr
				{
					color:$primaryAccent;
				}

				// Step title
				.spco-steps-display-hdr
				{
					margin:0;
					font-family:$serifFontFamily;
				}

				// Override arrow & inactive step color
				.spco-step-arrow-dv,
				.inactive-step .spco-step-big-nmbr,
				.inactive-step .spco-steps-display-hdr
				{
					color:$grayLight;
				}

				.spco-step-arrow-dv
				{
					@include rem(padding, 2.5 0, !important);
				}
			}

			// Step headings
			.spco-step-title-hdr
			{
				@include rem(margin, 0 0 $singleSpace, !important);
				border-bottom:0 none;
			}

			// form fieldset
			.spco-attendee-wrap-fs
			{
				margin:0;
				padding:0;
				border:0 none;

				legend { display:none; }
			}

			// Specificity fights
			#single-page-checkout
			{
				// Question group wrapper
				.espresso-question-group-wrap
				{
					@include rem(padding, $doubleSpace);

					&:first-child
					{
						padding-top:0;
					}
				}

				// Question group title
				.espresso-question-group-title-h5.section-title
				{
					margin-top:0;
					@include rem(font-size, 2.2);
					font-weight:400;
				}

				.spco-next-step-btn
				{
					@extend .btn;
					@extend .btn--primary;
					@include rem(margin-right, $doubleSpace);
				}

				// Inline form field error messages
				.required-text
				{
					float:right;
					font-size: .8em;
					font-weight: 400;
					color:$red !important;
				}

				.has-value,
				.needs-value
				{
					box-shadow:none;
				}

				.has-value:focus,
				.needs-value:focus
				{
					@include box-shadow(inset 0 1px 2px $errorShadowColor);
				}

				.requires-value
				{
					border:1px solid $red !important;
				}

				// Payment options
				#reg-page-totals-hdr,
				#spco-payment-info-table thead
				{
					display:none;
				}

				.spco-payment-info-dv
				{
					margin:0;
				}

				#spco-payment-info-table
				{
					width:100%;

					tr:first-child
					{
						td
						{
							@include rem(padding-bottom, $singleSpace);
						}

						.jst-rght
						{
							display:none;
						}
					}

					#reg-page-grand-total-dv
					{
						border-top:1px solid $grayVeryLight;

						td:first-child
						{
							@include rem(padding-top, $singleSpace);
						}
					}
				}

				#spco-payment-info-table td 
				{
					display:block;
				}

				// Other payments link
				#reg-page-select-other-gateway-lnk
				{
					margin:0;
					color:$grayLight;
					border:0 none;

					&:hover
					{
						color:$primaryAccent;
					}
				}

				// Hide the hotel selectors
				[id^="hotel"],
				[id^="hotel"] .reg-page-form-field-wrap-pg
				{
					display:none;
				}
			}
		}
	}

	// Show the corresponding hotel selector if 
	// corresponding ticket has been selected
	.form-wrapper #single-page-checkout [class*="platinum"] [id^="hotel"],
	.form-wrapper #single-page-checkout [class*="superior"] [id^="hotel"],
	.form-wrapper #single-page-checkout [class*="platinum"] [id^="hotel"] [class^="espresso-question-group"] + .reg-page-form-field-wrap-pg,
	.form-wrapper #single-page-checkout [class*="superior"] [id^="hotel"] [class^="espresso-question-group"] + .reg-page-form-field-wrap-pg + .reg-page-form-field-wrap-pg
	{
		display:block;
	}

	// Add a fake 'required form field' asterisk
	.form-wrapper #single-page-checkout [class*="platinum"] [id^="hotel"] .section-title + .reg-page-form-field-wrap-pg,
	.form-wrapper #single-page-checkout [class*="superior"] [id^="hotel"] .section-title + .reg-page-form-field-wrap-pg + .reg-page-form-field-wrap-pg
	{
		label:after
		{
			content:" *";
			color:$red;
		}
	}

	// Specificity wars
	.grid
	{
		#espresso-notices,
		#espresso-ajax-notices 
		{
			.close-espresso-notice
			{
				border:0 none;
			}
		}

		#espresso-notices-success, 
		#espresso-ajax-notices-success
		{
			border:2px solid $green;
		}
		
		#espresso-notices-error, 
		#espresso-ajax-notices-error
		{
			border:2px solid $red;
		}
	}



//  ---------------------------------------------------------------------------
//
//  THANK YOU PAGE
//
//  ---------------------------------------------------------------------------

	

	// Specificity wars
	.success 
	{
		.grid
		{
			// Message box
			.ee-attention
			{
				@include rem(margin, 0 0 $doubleSpace);
				@include rem(padding, $doubleSpace);
				background:$greenVeryLight;
				border-color:$green;

				.extra-padding-sides
				{
					padding:0;

					.bigger-text { display:none; }
				}
			}

			// Those ugly buttons
			.ee-button
			{
				@extend .btn;
				@extend .btn--success;
				@extend .btn--right-aligned;
				margin-bottom:0;
				line-height:1.4;
			}

			// Headings
			.ee-registration-details-h3
			{
				@include rem(margin-bottom, $singleSpace);
				@include rem(font-size, 3.2);
				@include rem(line-height, 3.3);
			}

			// Registration Details
			// Transaction Details
			.ee-registration-details-dv,
			#espresso-thank-you-page-ajax-transaction-dv,
			#espresso-thank-you-page-ajax-payment-dv
			{
				@include rem(margin-bottom, $doubleSpace * 2);
				@include rem(padding, $doubleSpace $doubleSpace 0);
				border:1px solid $sandDark;
				
				h2, h3, h5
				{
					@include rem(font-size, 2.6);
					@include rem(line-height, 2.8);
				}
			}

			// Success tables
			.ee-table
			{
				width:100%;

				th { text-align:left; }
			}

			#espresso-thank-you-page-transaction-details-dv tr:nth-child(3) .smaller-text a 
			{
				display:none;
			}
		}
	}
	






















