//  ---------------------------------------------------------------------------
//
//  Package features
//
//  ---------------------------------------------------------------------------

	.package__features
	{
		@extend .cf;
	}

	.l-feature
	{
		@include rem(margin-bottom, $doubleSpace * 2);

		@include at-breakpoint($large-width)
		{
			@include span-columns(4, $large-cols);
			@include nth-omega(2n);

			&:nth-child(2n + 1) { clear:both; }
		}
	}

	.feature
	{
		@include rem(padding, $doubleSpace);
		border:0px solid $sandDark;
		@include rem(border-width, $borderMedium);
	}

	.feature__text--monstrous
	{
		width:50%;
		font-family:$sansFontFamily;
		@include rem(font-size, 14.4);
		line-height:1;
		text-align:right;
	}

	.feature__title
	{
		@include rem(margin, $doubleSpace 0 $singleSpace / 2);
		font-family:$sansFontFamily;
		@include rem(font-size, 2.4);
		font-weight:$lightFontWeight;
	}

	.feature__img
	{
		@include rem(margin-bottom, $singleSpace);
		height:5em;
		line-height:5em;
		color:darken($sandDark, 10%);
	}

	.feature__icon-text
	{
		@include rem(font-size, $singleSpace * 4);
	}

	.feature__description
	{
		margin-bottom:0;
	}

	.features--about
	{
		margin-bottom:0;

		.l-feature
		{
			&:last-child
			{
				margin-bottom:0;
			}

			@include at-breakpoint($medium-width)
			{
				@include span-columns(2, $small-cols);
				@include nth-omega(2n);
			}

			@include at-breakpoint($huge-width no-mq)
			{
				@include remove-nth-omega(2n, $context:$huge-cols);

				@include span-columns(3, $huge-cols);
				@include nth-omega(4n);
				&:nth-child(2n + 1) { clear:none; }
			}
		}

		.feature
		{
			text-align:center;
		}

		.feature__title
		{
			@include setType($h1Size, $h1LineHeight);
			@include rem(margin-bottom, $singleSpace);
			
			@include at-breakpoint($medium-width) 	 { @include setType($h1Size--medium, $h1LineHeight--medium); }

			@include at-breakpoint($large-width no-mq) { @include setType($h1Size--large, $h1LineHeight--large); }

			@include at-breakpoint($huge-width) 	 { @include setType($h1Size--huge, $h1LineHeight--huge); }
			// @include at-breakpoint($giant-width) 	 { @include setType($h1Size--giant, $h1LineHeight--giant); }
			// @include at-breakpoint($monstrous-width) { @include setType($h1Size--monstrous, $h1LineHeight--monstrous); }
		}

		.feature__description
		{
			// font-size:120%;
		}
	}



















