//  ---------------------------------------------------------------------------
//
//  Defines the shared styling for the impressum section
//
//  ---------------------------------------------------------------------------
	
	.impressum
	{
		@include rem(padding, $doubleSpace * 2 0);
		background-color:$olive;
		@include setType(1.6, $bodyLineHeight);
		text-align:center;
		color:$white;
		color:rgba($white, .5);

		a 
		{
			border-bottom-color:rgba($orange, .5);
			color:$white;
			color:rgba($white, .5);

			&:hover
			{
				border-bottom-color:rgba($orange, 1);
				color:rgba($white, 1);
			}
		}
	}
