//  ---------------------------------------------------------------------------
//
//  Defines the styling for lang switcher
//
//  ---------------------------------------------------------------------------
	
	// Add minor breakpoint to match
	// the minor breakpoint of nav-main.scss
	$langLarge:48em;

	.lang
	{
		@extend .nav;
		@include setType(1.4, $touchSize);
		font-family:$headingsFontFamily;
		letter-spacing:0;
		text-align:center;

		ul
		{
			margin:0;
		}

		@include at-breakpoint($langLarge no-mq)
		{
			float:none;
			position:absolute;
			@include rem(top, $touchSize);
			right:0;
			z-index:901;
			@include rem(padding, 0 $r-grid-padding);
			background:rgba($white,.5);
			border-radius:0 0 4px 4px;
			@include rem(line-height, 2.6);
		}
	}

	#ie7 .lang,
	#ie8 .lang 
	{
		background:$blackSand;

		a 
		{ 
			color:$grayLight;

			&:hover
			{
				color:$white;
			}
		}

		.active a { color:$white; }
	}

	[class^="lang-"]
	{
		a 
		{
			color:rgba($textColor, .6);
			border:0 none;
		}

		a:hover
		{
			background:transparent;
			color:$textColor;
		}

		&.active a
		{
			color:$textColor;
			cursor:default;
		}

		&:after
		{
			content:" | ";
			color:darken($white, 10%);
		}

		&:last-child:after
		{
			content:none;
		}
	}