//  ---------------------------------------------------------------------------
//
//  Defines the styling for lang switcher
//
//  ---------------------------------------------------------------------------

	.lang
	{
		@extend .nav;
		@include setType(1.4, $touchSize);
		font-family:$headingsFontFamily;
		letter-spacing:0;
		text-align:center;

		ul
		{
			margin:0;
		}

		@include at-breakpoint($huge-width no-mq)
		{
			float:none;
			position:absolute;
			@include rem(top, 3.6);
			@include rem(right, 19.4);
			z-index:901;
			// @include rem(padding, 0 $r-grid-padding);
			// background:rgba($white,.5);
			// border-radius:0 0 4px 4px;
			@include rem(line-height, 2.6);
		}
	}

	#ie7 .lang,
	#ie8 .lang
	{
		background:$blackSand;

		a
		{
			color:rgba($white, .7);

			&:hover
			{
				color:$white;
			}
		}

		.active a { color:$white; }
	}

	[class^="lang-"]
	{
		a
		{
			color:rgba($white, .6);
			border:0 none;
		}

		a:hover
		{
			background:transparent;
			color:$white;
		}

		&.active a
		{
			color:$white;
			cursor:default;
		}

		&:after
		{
			content:" | ";
			color:darken($white, 10%);

			@include at-breakpoint($huge-width no-mq)
			{
				content:" ";
				@include rem(margin-left, .5);
			}
		}

		&:last-child:after
		{
			content:none;
		}
	}

	.header--alt
	{
		[class^="lang-"]
		{
			a
			{
				color:rgba($blackSand, .6);
			}

			a:hover,
			&.active a
			{
				color:$blackSand;
			}
		}
	}
