

//  ---------------------------------------------------------------------------
//
//  Main navigation
//
//  ---------------------------------------------------------------------------

	// Add a minor breakpoint to 
	// allow for all menu items to fit
	$navLarge:48em;

	.btn--register
	{
		float:right;
	}

	.flyout
	{
		background:$blackSand;
		clear:both;

		a
		{
			border:0 none;
			color:$white;
		}
	}

	.flyout__inner
	{
		@include rem(padding, $singleSpace 0);
	}

	.flyout__toggle
	{
		display:block;
		position:absolute;
		top:0;
		right:0;
		@include rem(width, $touchSize);
		@include rem(height, $touchSize);
		border:0 none;
		@include rem(line-height, $touchSize);
		@include rem(font-size, $h3Size);
		text-align:center;

		.fa-bars,
		.fa-times
		{
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			@include rem(line-height, $touchSize);
		}

		.fa-bars
		{
			@include transform(rotateZ(360deg) scale3d(1,1,1));
			@include transition(transform .3s ease, opacity .3s linear);
		}

		.fa-times
		{
			@include opacity(0);
			@include transform(rotateZ(360deg) scale3d(.5,.5,1));
			@include transition(transform .3s ease, opacity .3s linear);
		}

		@include at-breakpoint($navLarge no-mq)
		{
			display:none;
		}
	}

	.touch .flyout__toggle:active
	{
		color:$white;
		background:$primaryAccent;
	}

	.flyout--is-shown .flyout__toggle
	{
		.fa-bars
		{
			@include opacity(0);
			@include transform(rotateZ(0) scale3d(.5,.5,1));
		}

		.fa-times
		{
			@include opacity(1);
			@include transform(rotateZ(0) scale3d(1,1,1));
		}
	}

	.nav-main 
	{
		.menu-hauptmenue-container
		{
			@include transform(scale3d(.8, .8, .8) translate3d(0, 25px, 0));
			@include transition(transform .3s ease, opacity .3s linear);
			opacity:0;

			ul
			{
				margin:0;
			}

			a 
			{
				color:rgba($white, .6);
			}

			.menu-item--primary a
			{
				color:rgba($primaryAccent, .75);
			}

			.menu-item--primary.current-menu-item a
			{
				color:$primaryAccent;
			}

			.current-menu-item a
			{
				color:$white;
			}

			@include at-breakpoint($navLarge no-mq)
			{
				margin:0;
				@include transform(scale3d(1,1,1) translate3d(0,0,0));		
			}
		}

		.menu-item
		{
			@include at-breakpoint($navLarge no-mq)
			{
				display:inline;

				&:first-child
				{
					@include rem(margin-left, -$r-grid-padding);
				}
			}
		}

		.menu-item a
		{
			display:block;
			@include bleed;
			border-bottom:0 solid lighten($blackSand, 5%);
			@include rem(border-bottom-width, $borderThin);
			font-family:$headingsFontFamily;
			@include setType($h3Size, $touchSize);
			text-align:center;
			// text-transform:uppercase;

			@include at-breakpoint($navLarge no-mq)
			{
				display:inline-block;
				margin-right:0;
				margin-left:0;
				border-bottom-width:0;
				@include rem(font-size, 2.1);
				text-align:left;
				text-transform:capitalize;
			}
		}
	}

	.no-touch .nav-main .menu a:hover,
	.touch .nav-main .menu a:active
	{
		color:$textColor;
	}

	.touch .nav-main .menu a:active
	{
		background:$primaryAccent;
	}

	.no-touch .nav-main .menu .menu-item--primary a:hover,
	.touch .nav-main .menu .menu-item--primary a:active
	{
		color:$primaryAccent;
	}

	.touch .nav-main .menu .menu-item--primary a:active
	{
		background:$primaryAccent;
		color:$white;
	}

	.collapsible--is-expanded .nav-main .menu-hauptmenue-container
	{
		@include transform(scale3d(1,1,1) translate3d(0,0,0));
		opacity:1;
	}



