

//  ---------------------------------------------------------------------------
//
//  Main navigation
//
//  ---------------------------------------------------------------------------

	.top-bar
	{
		@include at-breakpoint($huge-width no-mq)
		{
			position:absolute;
			width:100%;
			z-index:1000;
			@include rem(padding-bottom, $doubleSpace);
			@include background(linear-gradient(rgba($black, .4), rgba($black, 0)));
		}
	}

	.header--alt .top-bar
	{
		@include background(linear-gradient(rgba($white, .7), rgba($white, 0)));
	}

	.flyout
	{
		background:$blackSand;
		clear:both;

		a
		{
			border:0 none;
			color:rgba($white, .85);
		}

		@include at-breakpoint($huge-width no-mq)
		{
			height:auto!important;
			background:transparent;
		}
	}

	.header--alt .flyout
	{
		@include at-breakpoint($huge-width no-mq)
		{
			a
			{
				color:rgba($blackSand, .6);
			}

			.current-menu-item a
			{
				color:$blackSand;
			}
		}
	}

	.flyout__inner
	{
		@include rem(padding, $singleSpace 0);

		@include at-breakpoint($huge-width no-mq)
		{
			position:absolute;
			top:0;
			@include rem(right, $doubleSpace);
			@include rem(left, 22);
			z-index:1001;
		}
	}

	.flyout__toggle
	{
		display:block;
		position:absolute;
		top:0;
		right:0;
		@include rem(width, $touchSize);
		@include rem(height, $touchSize);
		border:0 none;
		@include rem(line-height, $touchSize);
		@include rem(font-size, $h3Size);
		text-align:center;

		.fa-bars,
		.fa-times
		{
			position:absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			@include rem(line-height, $touchSize);
		}

		.fa-bars
		{
			@include transform(rotateZ(360deg) scale3d(1,1,1));
			@include transition(transform .3s ease, opacity .3s linear);
		}

		.fa-times
		{
			@include opacity(0);
			@include transform(rotateZ(360deg) scale3d(.5,.5,1));
			@include transition(transform .3s ease, opacity .3s linear);
		}

		@include at-breakpoint($huge-width no-mq)
		{
			display:none;
		}
	}

	.touch .flyout__toggle:active
	{
		color:$white;
		background:$primaryAccent;
	}

	.flyout--is-shown .flyout__toggle
	{
		.fa-bars
		{
			@include opacity(0);
			@include transform(rotateZ(0) scale3d(.5,.5,1));
		}

		.fa-times
		{
			@include opacity(1);
			@include transform(rotateZ(0) scale3d(1,1,1));
		}
	}

	.nav-main 
	{
		@include at-breakpoint($huge-width no-mq)
		{
			@include rem(margin, $singleSpace 0 0);	
		}

		.menu-hauptmenu-container
		{
			@include transform(scale3d(1.2, 1.2, 1.2) translate3d(0, -25px, 0));
			@include transition(transform .3s ease, opacity .2s linear);
			opacity:0;

			ul
			{
				margin:0;
			}

			a 
			{
				color:rgba($white, .7);
			}

			.current-menu-item a
			{
				color:$white;
			}

			@include at-breakpoint($huge-width no-mq)
			{
				@include rem(margin, $singleSpace 0 0);
				opacity:1;
				@include transform(scale3d(1,1,1) translate3d(0,0,0));		
			}
		}

		.menu-item
		{
			@include at-breakpoint($huge-width no-mq)
			{
				display:inline;

				&:first-child
				{
					display:none;
				}
			}
		}

		.menu-item a
		{
			display:block;
			@include bleed;
			border-bottom:0 solid lighten($blackSand, 5%);
			@include rem(border-bottom-width, $borderThin);
			font-family:$headingsFontFamily;
			@include setType($h3Size, $touchSize);
			text-align:center;
			// text-transform:uppercase;

			@include at-breakpoint($huge-width no-mq)
			{
				display:inline-block;
				margin-right:0;
				margin-left:0;
				border-bottom-width:0;
				@include rem(font-size, 1.8);
				text-align:left;
				text-transform:capitalize;
			}
		}

		.nav-main__cta
		{
			@include at-breakpoint($huge-width no-mq)
			{
				position:absolute;
				top:0;
				right:0;
				@include rem(margin-top, .6);
				padding:0;

				a 
				{
					@include rem(padding, 0 $singleSpace);
					background:$primaryAccent;
					background:rgba($primaryAccent, .7);
					border-radius:2px;
					color:$white;
					line-height:2;
					
					&:hover
					{
						background:$primaryAccent;
						color:$white;
					}
				}

			}
		}
	}

	.no-touch .nav-main .menu a:hover,
	.touch .nav-main .menu a:active
	{
		color:$white;
		background:$primaryAccent;

		@include at-breakpoint($huge-width no-mq)
		{
			color:$white;
			background:transparent;
		}
	}

	.no-touch .nav-main .nav-main__cta a:hover,
	.touch .nav-main .nav-main__cta a:active
	{
		@include at-breakpoint($huge-width no-mq)
		{
			color:$white;
			background:$primaryAccent;
		}
	}

	.no-touch .header--alt .flyout__inner,
	.touch .header--alt .flyout__inner
	{

		@include at-breakpoint($huge-width no-mq)
		{
			a { color:rgba($blackSand, .6); }
			.current-menu-item a { color:$blackSand; }
			a:hover,
			a:active
			{
				color:$blackSand;
			}

			.nav-main__cta
			{
				@include at-breakpoint($huge-width no-mq)
				{
					a 
					{
						background:$primaryAccent;
						background:rgba($primaryAccent, .7);
						color:$white;
						
						&:hover
						{
							background:$primaryAccent;
							color:$white;
						}
					}

				}
			}
		}
	}

	.collapsible--is-expanded .nav-main .menu-hauptmenu-container
	{
		@include transform(scale3d(1,1,1) translate3d(0,0,0));
		opacity:1;
	}



