//  ---------------------------------------------------------------------------
//
//  Packages
//
//  ---------------------------------------------------------------------------

	$minorBreakpoint: 48em;

	.package__price
	{
		@extend .h2;
		@include rem(margin-bottom, $singleSpace);
		white-space:nowrap;

		@include at-breakpoint($minorBreakpoint no-mq)
		{
			clear:right;
			float:right;
			width:columns(3, 12);
		}
	}

	.package__action__msg
	{
		display:block;
		@include rem(margin-bottom, $doubleSpace * 2);

		@include at-breakpoint($minorBreakpoint no-mq)
		{
			@include rem(line-height, $doubleSpace);
		}
	}

	.package__price--on-demand
	{
		font-size:130%;
	}

	.package__action__msg
	{
		font-size:80%;
	}

	.l-package__description
	{
		@include rem(margin-bottom, $doubleSpace * 2);

		@include at-breakpoint($minorBreakpoint no-mq)
		{
			@include rem(margin-bottom, $doubleSpace * 3);
			@include span-columns(8, $huge-cols);
		}
	}

	.l-package__summary
	{
		i 
		{
			@include rem(margin-bottom, $doubleSpace);
			color:darken($sandDark, 20%);
		}

		@include at-breakpoint($huge-cols no-mq)
		{
			@include span-columns(8, $huge-cols);
			@include push(2, $huge-cols);
		}
	}

	.package__summary 
	{
		@include rem(margin-bottom, $doubleSpace *2);
		@include rem(padding, $doubleSpace);
		padding-bottom:0;
		background:$sandLight;
		border:0 solid $sandDark;
		@include rem(border-width, $borderThin);
		font-family:$headingsFontFamily;
		@include rem(font-size, 1.8);

		li 
		{
			@include rem(line-height, 3.4);
			clear:both;

			@include at-breakpoint($large-width no-mq)
			{
				clear:none;
				@include span-columns(2, 4);
			
				&:nth-child(2n+1)
				{
					@include omega;
				}
			}
		}
	}

	.l-package__action
	{
		@include at-breakpoint($huge-width no-mq)
		{
			clear:right;
			@include span-columns(3 omega, $huge-cols);

			.btn 
			{ 
				float:right;
				width:100%;
			}
		}
	}