//  ---------------------------------------------------------------------------
//
//  Packages
//
//  ---------------------------------------------------------------------------

	$minorBreakpoint: 48em;

	.package 
	{
		@extend .cf;
		@include rem(margin-bottom, $doubleSpace * 2);
		border-bottom:0 solid $sand;
		@include rem(border-bottom-width, $borderMedium);
	}

	.package__price
	{
		@extend .h2;
		@include rem(margin-bottom, $singleSpace);
		white-space:nowrap;

		@include at-breakpoint($minorBreakpoint)
		{
			clear:right;
			float:right;
			width:columns(3, 12);
		}
	}

	.package__action 
	{
		@include rem(margin-bottom, $singleSpace);
	}

	.package__action__msg
	{
		display:block;
		@include rem(margin-bottom, $doubleSpace * 2);

		// a { white-space:nowrap; }

		@include at-breakpoint($minorBreakpoint)
		{
			@include rem(line-height, $doubleSpace);
		}
	}

	.package__price--on-demand
	{
		font-size:130%;
	}

	.package__action__msg
	{
		font-size:80%;
	}

	.l-package__description
	{
		@include rem(margin-bottom, $doubleSpace * 2);

		@include at-breakpoint($minorBreakpoint)
		{
			@include rem(margin-bottom, $doubleSpace * 3);
			@include span-columns(8, $huge-cols);
		}
	}

	.l-package__summary
	{
		display:none;

		@include at-breakpoint($minorBreakpoint)
		{
			display:block;
			@include span-columns(3 omega, $huge-cols);

			i { color:$primaryAccent; }
		}
	}

	.package__summary 
	{
		@include rem(padding, $singleSpace);
		background:$sandLight;
		border:0 solid $sandDark;
		@include rem(border-width, $borderThin);
	}

	.l-package__action
	{
		@include at-breakpoint($minorBreakpoint)
		{
			clear:right;
			@include span-columns(3 omega, $huge-cols);

			.btn 
			{ 
				float:right;
				width:100%;
			}
		}
	}