//  ---------------------------------------------------------------------------
//
//  Defines the layout for the main sections
//
//  ---------------------------------------------------------------------------




//  ---------------------------------------------------------------------------
//
//  Defines the shared styling for the main sections and subsections
//
//  ---------------------------------------------------------------------------
	
	.section--dark
	{
		background:$blackSand;
		color:$white;

		h1, h2
		{
			color:$white;
		}
	}

	.section__title
	{
		text-align:center;
		@include rem(letter-spacing, -.15);
	}

	.section__title--emphasized
	{	
		@include rem(margin, $doubleSpace 0 $doubleSpace * 2);
		border:0 solid $sandDark;
		@include rem(border-top-width, $borderMedium);
		@include rem(border-bottom-width, $borderMedium);
		text-transform:uppercase;
	}
