
//  ---------------------------------------------------------------------------
//
//  Defines the shared styling for the main sections
//
//  ---------------------------------------------------------------------------
	
	.section--dark
	{
		background:$blackSand;
		color:$white;

		h1, h2
		{
			color:$white;
		}
	}

	.section__title
	{
		text-align:center;
		@include rem(letter-spacing, -.15);
	}

	.section__title--emphasized
	{	
		@include rem(margin, $doubleSpace 0 $doubleSpace * 2);
		border:0 solid $sandDark;
		@include rem(border-top-width, $borderMedium);
		@include rem(border-bottom-width, $borderMedium);
		text-transform:uppercase;
	}



//  ---------------------------------------------------------------------------
//
//  Defines the shared styling for the sub-sections
//
//  ---------------------------------------------------------------------------

	// The subsection is part
	// of the main section
	.subsection
	{
		@extend .cf;

		// padding-bottom equals margin-bottom - $doubleSpace
		// since children usually have margin-bottom $doubleSpace
		@include rem(padding-bottom, $doubleSpace);
		@include rem(margin-bottom, $doubleSpace * 2);

		border-bottom:0 solid $sandDark;
		@include rem(border-bottom-width, $borderMedium);

		&:last-child
		{
			padding-bottom:0;
			border-bottom:0 none;
		}
	}

	// Each subsection has one title
	.subsection__title
	{
		@extend %h2;
	}

	// Each subsection can have
	// multiple headings
	.subsection__heading
	{
		@extend %h3;
		@include rem(margin-bottom, $singleSpace);
	}

	// If the subsection contains a
	// collapsible, like on the packages
	// page, this is the detail link that
	// toggles the collapsible
	.subsection__detail
	{
		float:right;
		@include rem(margin-right, $singleSpace);
		@include rem(font-size, 1.8);
	}










