
//  ---------------------------------------------------------------------------
//
//  Defines the shared styling for the main sections
//
//  ---------------------------------------------------------------------------
	
	.section--dark
	{
		background:$blackSand;
		color:$white;

		h1, h2
		{
			color:$white;
		}
	}

	.section__title
	{
		@include rem(letter-spacing, -.15);
	}

	.section__title--emphasized
	{	
		@include rem(margin, $doubleSpace 0 $doubleSpace * 2);
		border:0 solid $sandDark;
		@include rem(border-top-width, $borderMedium);
		@include rem(border-bottom-width, $borderMedium);
		text-transform:uppercase;
	}

	.section__title,
	.section__subtitle
	{
		text-align:center;
	}

	.section__subtitle
	{
		@include rem(margin, $doubleSpace * 2 0);
		clear:both;
	}



//  ---------------------------------------------------------------------------
//
//  Defines the shared styling for the sub-sections
//
//  ---------------------------------------------------------------------------

	// The subsection is part
	// of the main section
	.subsection
	{
		@extend .cf;
		@include rem(margin-bottom, $doubleSpace * 4);
	}

	// Each subsection has one title
	.subsection__title
	{
		@extend %h2;
	}

	// Each subsection can have
	// multiple headings
	.subsection__heading
	{
		@extend %h2;
		@include rem(margin-bottom, $singleSpace);
		text-align:center;
	}

	// If the subsection contains a
	// collapsible, like on the packages
	// page, this is the detail link that
	// toggles the collapsible
	.subsection__detail
	{
		float:right;
		@include rem(margin-right, $singleSpace);
		@include rem(font-size, 1.8);
	}










