//  ---------------------------------------------------------------------------
//
//  Style patterns
//
//  ---------------------------------------------------------------------------

	
	
	%top-separator
	{
		border-top:0 solid $separatorColor;
		@include rem(border-top-width, $borderThick);
		@include rem(padding-top, $doubleSpace - $borderThick);
	}

	%bottom-separator
	{
		border-bottom:0 solid $separatorColor;
		@include rem(border-bottom-width, $borderThick);
		@include rem(padding-bottom, $doubleSpace - $borderThick);
	}

	%left-separator
	{
		border-left:0 solid $separatorColor;
		@include rem(border-left-width, $borderVeryThick);
		@include rem(padding-left, $doubleSpace);
	}



//  = SPACE LOVER
//  ---------------------------------------------------------------------------
	
	// Use this class to set a larger
	// bottom margin than the default
	.space-lover
	{
		@include rem(margin-bottom, $doubleSpace * 2, !important);
	}

	// Use this class to set an EVEN LARGER
	// bottom margin than the default
	.space-lover--huge
	{
		@include rem(margin-bottom, $doubleSpace * 4, !important);
	}
